# Modeling and Simulation in Python

Chapter 3: Explain

Copyright 2017 Allen Downey

License: [Creative Commons Attribution 4.0 International](https://creativecommons.org/licenses/by/4.0)

In [24]:
# If you want the figures to appear in the notebook, 
# and you want to interact with them, use
# %matplotlib notebook

# If you want the figures to appear in the notebook, 
# and you don't want to interact with them, use
# %matplotlib inline

# If you want the figures to appear in separate windows, use
# %matplotlib qt5

# To switch from one to another, you have to select Kernel->Restart

%matplotlib inline

from modsim import *

ModuleNotFoundError: No module named 'modsim'

Pandas is a module that provides tools for reading and processing data.  The `read_html` reads a web page from a file or the Internet and creates one DataFrame for each table on the page.

In [5]:
from pandas import read_html

The data directory contains a downloaded copy of https://en.wikipedia.org/wiki/World_population_estimates

In [4]:
filename = 'data/World_population_estimates.html'
tables = read_html(filename, header=0, index_col=0, decimal='M')

`tables` is a sequence of DataFrame objects.  We can select the DataFrame we want using the bracket operator.  The tables are numbered from 0, so `table2` is actually the third table on the page.

`head` selects the header and the first five rows.

In [5]:
table2 = tables[2]
table2.head()

`tail` selects the last five rows.

In [6]:
table2.tail()

Long column names are awkard to work with, but we can replace them with abbreviated names.

In [7]:
table2.columns = ['census', 'prb', 'un', 'maddison', 
                  'hyde', 'tanton', 'biraben', 'mj', 
                  'thomlinson', 'durand', 'clark']

Here's what the DataFrame looks like now.  

Some of the values use scientific notation; for example, `2.544000e+09` is shorthand for $2.544 \cdot 10^9$ or 2.544 billion.

`NaN` is a special value that indicates missing data.

In [8]:
table2

We can use dot notatio to select a column from a DataFrame.  The result is a Series.

In [9]:
census = table2.census
census

A Series object has two parts, `values` and `index`.

The `values` part is an array.

In [10]:
census.values

The `index` part is yet another kind of object, an `Int64Index`.

In [11]:
census.index

If you ever wonder what kind of object a variable refers to, you can use the `type` function.

The result indicates what type the object is, and the module where that type is defined.

DataFrame, Series, and Int64Index are defined by Pandas.

array is defined by NumPy.

In [12]:
type(table2)

In [13]:
type(census)

In [14]:
type(census.index)

In [15]:
type(census.values)

This function plots the estimates generated by the US Censis and UN DESA, and labels the axes.

`1e9` is scientific notation for $1 \cdot 10^9$ or 1 billion.

In [16]:
def plot_estimates(table):
    """Plot world population estimates.
    
    table: DataFrame with columns 'un' and 'census'
    """
    un = table.un / 1e9
    census = table.census / 1e9
    
    plot(census, ':', color='darkblue', label='US Census')
    plot(un, '--', color='green', label='UN DESA')
    
    decorate(xlabel='Year',
             ylabel='World population (billion)')

Now we can plot the estimates.

In [17]:
newfig()
plot_estimates(table2)
savefig('chap03-fig01.pdf')

From here on, we will work in units of billions.

In [18]:
un = table2.un / 1e9

In [19]:
census = table2.census / 1e9

This expression computes the elementwise differences between the series, then divides through by the UN value to produce relative errors, then finds the largest element.

So the largest relative error between the estimates is about 1.3%.

In [20]:
max(abs(census - un) / un) * 100

**Exercise:** Break down that expression into smaller steps and display the intermediate results, to make sure you understand how it works.

Where in the series is the largest relative error between the two estimates, near the beginning or the end?

When I computed relative errors, I used `un` as the denominator.  But that was an arbitraty choice.  What happens if we use `census` instead?  How much difference does it make.

In [21]:
# Solution goes here

In [22]:
# Solution goes here

In [23]:
# Solution goes here

In [24]:
# Solution goes here

### Constant growth

We can select an element from a series using bracket notation and one of the elements from the index.  Here's the first element:

In [25]:
census[1950]

And the last element.

In [26]:
census[2015]

But we can get the first and last years from the index itself:

In [27]:
first_year = census.index[0]
last_year = census.index[-1]
first_year, last_year

And use them to look up the first and last elements.

Then we can compute the average annual growth in billions of people per year.

In [28]:
total_growth = census[last_year] - census[first_year]
elapsed_time = last_year - first_year
annual_growth = total_growth / elapsed_time
annual_growth

Now let's create a `TimeSeries` to contain values generated by a linear growth model.

In [29]:
results = TimeSeries()

Initially the Series is empty, but we can initialize it so the starting value, in 1950, is the 1950 population estimated by the US Census.

In [30]:
results[1950] = census[1950]
results

After that, the population in the model grows by a constant amount each year.

In [31]:
for t in linrange(1950, 2015):
    results[t+1] = results[t] + annual_growth

Here's what the results looks like, compared to the actual data.

In [32]:
newfig()
plot_estimates(table2)
plot(results, '--', color='gray', label='model')
decorate(xlabel='Year', ylabel='World population (billion)')
savefig('chap03-fig02.pdf')

The model fits the data pretty well after 1990, but not so well before.

**Exercise:**  Try fitting the model using data from 1970 to the present, and see if that does a better job.

Hint: Copy the code from above and make a few changes.

Make sure your model starts in 1950, even though the estimated annual growth is based on later data.  You might have to shift the first value in the series up or down to match the data.

In [33]:
# Solution goes here

### Now with system objects

We can rewrite the code from the previous section using system objects.

In [34]:
t0 = census.index[0]
t_end = census.index[-1]
total_growth = census[t_end] - census[t0]
elapsed_time = t_end - t0
annual_growth = total_growth / elapsed_time

Here's the system object.

In [35]:
system = System(t0=t0, 
                t_end=t_end,
                p0=census[t0],
                annual_growth=annual_growth)

And we can encapsulate the code tha runs the model in a function that stores the resulting Series as a new system variable.

In [36]:
def run_simulation1(system):
    """Runs the constant growth model.
    
    Adds TimeSeries to `system` as `results`.
    
    system: system object
    """
    results = TimeSeries()
    results[system.t0] = system.p0
    for t in linrange(system.t0, system.t_end):
        results[t+1] = results[t] + system.annual_growth
    system.results = results

We can also encapsulate the code that plots the results.

In [37]:
def plot_results(system, title=None):
    """Plot the estimates and the model.
    
    system: System object with `results`
    """
    newfig()
    plot_estimates(table2)
    plot(system.results, '--', color='gray', label='model')
    decorate(xlabel='Year', 
             ylabel='World population (billion)',
             title=title)

Here's how we run it.

In [38]:
run_simulation1(system)
plot_results(system, title='Constant growth model')

`plot_results` uses `decorate`, which takes parameters that specify the title of the figure, labels for the $x$ and $y$ axis, and limits for the axes.  To read the documentation of `decorate`, run the cells below.

In [39]:
help(decorate)

In [40]:
plt.getp(plt.gca())

**Exercise:** The constant growth model doesn't make a lot of sense, because it seems like the number of deaths and births should depend on the size of the population.  As a small improvement, let's write a version of `run_simulation1` where the number of deaths is proportional to the size of the population, but the number of births is constant.  This model doesn't make a lot of sense, either, but it's a good exercise.

Write a function called `run_simulation1b` that implements a model where the number of births is constant, but the number of deaths is proportional to the current size of the population.  Set the death rate to `0.01`, which means that 1% of the population dies each year; then choose the number of annual births to make the model fit the data as well as you can.

Hint: It probably won't fit very well.

In [41]:
# Solution goes here

In [42]:
# Solution goes here

## Proportional death, proportional birth

Now let's get to a more realistic model where the number of births and deaths is proportional to the current population.

In [43]:
def run_simulation2(system):
    """Runs the constant growth model.
    
    Adds TimeSeries to `system` as `results`.
    
    system: system object
    """
    results = TimeSeries()
    results[system.t0] = system.p0
    for t in linrange(system.t0, system.t_end):
        births = system.birth_rate * results[t]
        deaths = system.death_rate * results[t]
        results[t+1] = results[t] + births - deaths
    system.results = results

I kept the death rate at 1% and chose the birth rate to fit the data.

In [44]:
system.death_rate = 0.01
system.birth_rate = 0.027

Here's what it looks like.

In [45]:
run_simulation2(system)
plot_results(system, title='Proportional model')
savefig('chap03-fig03.pdf')

The model fits the data pretty well for the first 20 years, but not so well after that.

**Exercise:** In this implementation, we compute the number of deaths and births separately, but since they are both proportional to the current population, we can combine them.

Write a function called `run_simulation2b` that implements a model with a single parameter, `alpha`, that represents the net growth rate, which is the difference between the birth and death rates.  For example, if `alpha=0.01`, the population should grow by 1% per year.

Choose the value of `alpha` that fits the data best.

In [46]:
# Solution goes here

In [47]:
# Solution goes here

### Factoring out the update function

The functions that run the model all look the same except the body of the loop.  So we can factor that part out into a function.

In [48]:
def update_func1(pop, t, system):
    """Compute the population next year.
    
    pop: current population
    t: current year
    system: system object containing parameters of the model
    
    returns: population next year
    """
    births = system.birth_rate * pop
    deaths = system.death_rate * pop
    return pop + births - deaths

Now the name `update_func1` refers to a function object.

In [49]:
update_func1

Which we can confirm by checking its type.

In [50]:
type(update_func1)

`run_simulation` takes the update function as a parameter and calls it just like any other function.

In [2]:
def run_simulation(system, update_func):
    """Simulate the system using any update function.
    
    Adds TimeSeries to `system` as `results`.

    system: System object
    update_func: function that computes the population next year
    """
    results = TimeSeries()
    results[system.t0] = system.p0
    for t in linrange(system.t0, system.t_end):
        results[t+1] = update_func(results[t], t, system)
    system.results = results

Here's how we use it.

In [52]:
run_simulation(system, update_func1)

Remember not to put parentheses after `update_func1`.  What happens if you try?

In [53]:
plot_results(system, title='Proportional model, factored')

**Exercise:** When you run `run_simulation`, it runs `update_func1` once for each year between `t0` and `t_end`.  To see that for yourself, add a print statement at the beginning of `update_func1` that prints the values of `t` and `pop`, then run `run_simulation` again.

### Combining birth and death

Since births and deaths get added up, we don't have to compute them separately.  We can combine the birth and death rates into a single net growth rate.

In [54]:
def update_func1b(pop, t, system):
    """Compute the population next year.
    
    pop: current population
    t: current year
    system: system object containing parameters of the model
    
    returns: population next year
    """
    net_growth = system.alpha  * pop
    return pop + net_growth

Here's how it works:

In [55]:
system.alpha = system.birth_rate - system.death_rate

run_simulation(system, update_func1b)
plot_results(system, title='Proportional model, combined birth and death')

**Exercise:** Maybe the reason the proportional model doesn't work very well is that the growth rate, `alpha`, might be changing over time.  So let's try a model with different growth rates before and after 1980 (as an arbitrary choice).

Write a function called `update_func1c` that takes `pop`, `t`, and `system` as parameters.  The system object, `system`, should contains two parameters: the growth rate before 1980, `alpha1`, and the growth rate after 1980, `alpha2`.  It should compute and return the simulated population one year later.

Note: Don't forget the `return` statement.

In [56]:
# Solution goes here

In [57]:
# Solution goes here

### Quadratic growth

Here's the implementation of the quadratic growth model.

In [58]:
def update_func2(pop, t, system):
    """Compute the population next year.
    
    pop: current population
    t: current year
    system: system object containing parameters of the model
    
    returns: population next year
    """
    net_growth = system.alpha * pop + system.beta * pop**2
    return pop + net_growth

And here are the results.  Can you find values for the parameters that make the model fit better?

In [59]:
system.alpha = 0.025
system.beta = -0.0018

run_simulation(system, update_func2)
plot_results(system, title='Quadratic model')
savefig('chap03-fig04.pdf')

To understand the quadratic model better, let's plot net growth as a function of population.

In [60]:
pop_array = linspace(0.001, 15, 100)
net_growth_array = system.alpha * pop_array + system.beta * pop_array**2

Here's what it looks like.  Remember that the x axis is population now, not time.

The function `sns.set` sets the style for the plots.  I added a grid to this one to make it easier to read.

In [61]:
newfig()
sns.set(style='whitegrid', font_scale=1.5)
plot(pop_array, net_growth_array, '-')
decorate(xlabel='Population (billions)',
         ylabel='Net growth (billions)',
         legend=False)
savefig('chap03-fig05.pdf')

Using `sns.set` to reset the plot style.

In [62]:
sns.set(style='white', font_scale=1.5)

In the book we found that the net growth is 0 when the population is $-\alpha/\beta$:

In [63]:
-system.alpha / system.beta

This is the equilibrium the population tends toward.

**Exercise:** In the book, I presented a different way to parameterize the quadratic model:

$ \Delta p = r p (1 - p / K) $

where $r=\alpha$ and $K=-\alpha/\beta$.  Write a version of `update_func2` that implements this version of the model.  Test it by computing system variables `r` and `K` equivalent to `alpha` and `beta`, and confirm that you get the same results.

In [64]:
# Solution goes here

In [65]:
# Solution goes here

In [66]:
# Solution goes here

**Exercise:** On the Wikipedia page about world population estimates, the first table contains estimates for prehistoric populations.  The following cells process this table and plot some of the results.

Select `table1`, which is the second table on the page.

In [67]:
table1 = tables[1]
table1.head()

Not all agencies and researchers provided estimates for the same dates.  Again `NaN` is the special value that indicates missing data.

In [68]:
table1.tail()

Some of the estimates are in a form we can't read as numbers.  We could clean them up by hand, but for simplicity I'll replace any value that has an `M` in it with `NaN`.

In [69]:
table1.replace('M', np.nan, regex=True, inplace=True)

Again, we'll replace the long column names with more convenient abbreviations.

In [70]:
table1.columns = ['prb', 'un', 'maddison', 'hyde', 'tanton', 
                  'biraben', 'mj', 'thomlinson', 'durand', 'clark']

This function plots selected estimates.

In [71]:
def plot_prehistory(table):
    """Plots population estimates.
    
    table: DataFrame
    """
    plot(table.prb, 'ro', label='PRB')
    plot(table.un, 'co', label='UN')
    plot(table.hyde, 'yo', label='HYDE')
    plot(table.tanton, 'go', label='Tanton')
    plot(table.biraben, 'bo', label='Biraben')
    plot(table.mj, 'mo', label='McEvedy & Jones')

Here are the results.  Notice that we are working in millions now, not billions.

In [72]:
newfig()
plot_prehistory(table1)
decorate(xlabel='Year', 
         ylabel='World population (millions)',
         title='Prehistorical population estimates')

We can use `xlim` to zoom in on everything after Year 0.

In [73]:
newfig()
plot_prehistory(table1)
decorate(xlim=[0, 2000], xlabel='Year', 
         ylabel='World population (millions)',
         title='Prehistorical population estimates')

See if you can find a model that fits these data well from Year -1000 to 1940, or from Year 0 to 1940.

How well does your best model predict actual population growth from 1950 to the present?

In [74]:
# Solution goes here

In [75]:
# Solution goes here

In [3]:
# Solution goes here

type(run_simulation)

function

### Disfunctions

In [78]:
def carrying_capacity(system):
    K = -system.alpha / system.beta
    return K
    
sys1 = System(alpha=0.025, beta=-0.0018)
pop = carrying_capacity(sys1)
print(pop)

In [80]:
def carrying_capacity():
    K = -system.alpha / system.beta
    return K
    
system = System(alpha=0.025, beta=-0.0018)
pop = carrying_capacity()
print(pop)

In [81]:
def carrying_capacity(system):
    system = System(alpha=0.025, beta=-0.0018)
    K = -system.alpha / system.beta
    return K
    
sys1 = System(alpha=0.025, beta=-0.0018)
pop = carrying_capacity(sys1)
print(pop)

In [82]:
def carrying_capacity(system):
    K = -system.alpha / system.beta
    
sys1 = System(alpha=0.025, beta=-0.0018)
pop = carrying_capacity(sys1)
print(pop)

In [83]:
def carrying_capacity(system):
    K = -system.alpha / system.beta
    return K
    
sys1 = System(alpha=0.025, beta=-0.0018)
carrying_capacity(sys1)
print(K)

In [15]:

from pandas import read_csv


filename = 'bees.csv'
tables = read_csv(filename, header=0, index_col=8)

print(tables)


tables.columns = ['d', 'ac', 'a', 'ec', 'e', 'ic', 'i', 'yc', 'year', 'u', 'value', 'f', 'fd']
tables

value = tables.value
value


value.index


def plot_estimates(tables):
    value = tables.value / 1e6
    plot(values, '--', color='green', label='FAO Stats')
    
    decorate(xlabel='Year',
             ylabel='Number of Registered Hives (in Millions)')
    
    newfig()
plot_estimates(tables)

          Domain Code        Domain  Area Code                      Area  \
Year Code
1961               QA  Live Animals        231  United States of America
1962               QA  Live Animals        231  United States of America
1963               QA  Live Animals        231  United States of America
1964               QA  Live Animals        231  United States of America
1965               QA  Live Animals        231  United States of America
1966               QA  Live Animals        231  United States of America
1967               QA  Live Animals        231  United States of America
1968               QA  Live Animals        231  United States of America
1969               QA  Live Animals        231  United States of America
1970               QA  Live Animals        231  United States of America
1971               QA  Live Animals        231  United States of America
1972               QA  Live Animals        231  United States of America
1973               QA  Live Animals        231  United States of America
1974               QA  Live Animals        231  United States of America
1975               QA  Live Animals        231  United States of America
1976               QA  Live Animals        231  United States of America
1977               QA  Live Animals        231  United States of America
1978               QA  Live Animals        231  United States of America
1979               QA  Live Animals        231  United States of America
1980               QA  Live Animals        231  United States of America
1981               QA  Live Animals        231  United States of America
1982               QA  Live Animals        231  United States of America
1983               QA  Live Animals        231  United States of America
1984               QA  Live Animals        231  United States of America
1985               QA  Live Animals        231  United States of America
1986               QA  Live Animals        231  United States of America
1987               QA  Live Animals        231  United States of America
1988               QA  Live Animals        231  United States of America
1989               QA  Live Animals        231  United States of America
1990               QA  Live Animals        231  United States of America
1991               QA  Live Animals        231  United States of America
1992               QA  Live Animals        231  United States of America
1993               QA  Live Animals        231  United States of America
1994               QA  Live Animals        231  United States of America
1995               QA  Live Animals        231  United States of America
1996               QA  Live Animals        231  United States of America
1997               QA  Live Animals        231  United States of America
1998               QA  Live Animals        231  United States of America
1999               QA  Live Animals        231  United States of America
2000               QA  Live Animals        231  United States of America
2001               QA  Live Animals        231  United States of America
2002               QA  Live Animals        231  United States of America
2003               QA  Live Animals        231  United States of America
2004               QA  Live Animals        231  United States of America
2005               QA  Live Animals        231  United States of America
2006               QA  Live Animals        231  United States of America
2007               QA  Live Animals        231  United States of America
2008               QA  Live Animals        231  United States of America
2009               QA  Live Animals        231  United States of America
2010               QA  Live Animals        231  United States of America
2011               QA  Live Animals        231  United States of America
2012               QA  Live Animals        231  United States of America
2013               QA  Live Animals        231  United States of America
2014               QA  Live Animals        231  United States of America

           Element Code Element  Item Code      Item  Year Unit    Value  \
Year Code
1961               5114  Stocks       1181  Beehives  1961   No  5514000
1962               5114  Stocks       1181  Beehives  1962   No  5506000
1963               5114  Stocks       1181  Beehives  1963   No  5528000
1964               5114  Stocks       1181  Beehives  1964   No  5601000
1965               5114  Stocks       1181  Beehives  1965   No  4718000
1966               5114  Stocks       1181  Beehives  1966   No  4646000
1967               5114  Stocks       1181  Beehives  1967   No  4635000
1968               5114  Stocks       1181  Beehives  1968   No  4539000
1969               5114  Stocks       1181  Beehives  1969   No  4433000
1970               5114  Stocks       1181  Beehives  1970   No  4634000
1971               5114  Stocks       1181  Beehives  1971   No  4107000
1972               5114  Stocks       1181  Beehives  1972   No  4085000
1973               5114  Stocks       1181  Beehives  1973   No  4124000
1974               5114  Stocks       1181  Beehives  1974   No  4210000
1975               5114  Stocks       1181  Beehives  1975   No  4206000
1976               5114  Stocks       1181  Beehives  1976   No  4269000
1977               5114  Stocks       1181  Beehives  1977   No  4323000
1978               5114  Stocks       1181  Beehives  1978   No  4090000
1979               5114  Stocks       1181  Beehives  1979   No  4163000
1980               5114  Stocks       1181  Beehives  1980   No  4141000
1981               5114  Stocks       1181  Beehives  1981   No  4213000
1982               5114  Stocks       1181  Beehives  1982   No  4250000
1983               5114  Stocks       1181  Beehives  1983   No  4275000
1984               5114  Stocks       1181  Beehives  1984   No  4300000
1985               5114  Stocks       1181  Beehives  1985   No  4325000
1986               5114  Stocks       1181  Beehives  1986   No  3205000
1987               5114  Stocks       1181  Beehives  1987   No  3190000
1988               5114  Stocks       1181  Beehives  1988   No  3219000
1989               5114  Stocks       1181  Beehives  1989   No  3443000
1990               5114  Stocks       1181  Beehives  1990   No  3210000
1991               5114  Stocks       1181  Beehives  1991   No  3181000
1992               5114  Stocks       1181  Beehives  1992   No  3030000
1993               5114  Stocks       1181  Beehives  1993   No  2880000
1994               5114  Stocks       1181  Beehives  1994   No  2770000
1995               5114  Stocks       1181  Beehives  1995   No  2648000
1996               5114  Stocks       1181  Beehives  1996   No  2566000
1997               5114  Stocks       1181  Beehives  1997   No  2631000
1998               5114  Stocks       1181  Beehives  1998   No  2633000
1999               5114  Stocks       1181  Beehives  1999   No  2688000
2000               5114  Stocks       1181  Beehives  2000   No  2620000
2001               5114  Stocks       1181  Beehives  2001   No  2513000
2002               5114  Stocks       1181  Beehives  2002   No  2574000
2003               5114  Stocks       1181  Beehives  2003   No  2590000
2004               5114  Stocks       1181  Beehives  2004   No  2556000
2005               5114  Stocks       1181  Beehives  2005   No  2413000
2006               5114  Stocks       1181  Beehives  2006   No  2392000
2007               5114  Stocks       1181  Beehives  2007   No  2301000
2008               5114  Stocks       1181  Beehives  2008   No  2342000
2009               5114  Stocks       1181  Beehives  2009   No  2498000
2010               5114  Stocks       1181  Beehives  2010   No  2692000
2011               5114  Stocks       1181  Beehives  2011   No  2491000
2012               5114  Stocks       1181  Beehives  2012   No  2539000
2013               5114  Stocks       1181  Beehives  2013   No  2640000
2014               5114  Stocks       1181  Beehives  2014   No  2740000

           Flag Flag Description
Year Code
1961        NaN    Official data
1962        NaN    Official data
1963        NaN    Official data
1964        NaN    Official data
1965        NaN    Official data
1966        NaN    Official data
1967        NaN    Official data
1968        NaN    Official data
1969        NaN    Official data
1970        NaN    Official data
1971        NaN    Official data
1972        NaN    Official data
1973        NaN    Official data
1974        NaN    Official data
1975        NaN    Official data
1976        NaN    Official data
1977        NaN    Official data
1978        NaN    Official data
1979        NaN    Official data
1980        NaN    Official data
1981        NaN    Official data
1982        NaN    Official data
1983        NaN    Official data
1984        NaN    Official data
1985        NaN    Official data
1986        NaN    Official data
1987        NaN    Official data
1988        NaN    Official data
1989        NaN    Official data
1990        NaN    Official data
1991        NaN    Official data
1992        NaN    Official data
1993        NaN    Official data
1994        NaN    Official data
1995        NaN    Official data
1996        NaN    Official data
1997        NaN    Official data
1998        NaN    Official data
1999        NaN    Official data
2000        NaN    Official data
2001        NaN    Official data
2002        NaN    Official data
2003        NaN    Official data
2004        NaN    Official data
2005        NaN    Official data
2006        NaN    Official data
2007        NaN    Official data
2008        NaN    Official data
2009        NaN    Official data
2010        NaN    Official data
2011        NaN    Official data
2012        NaN    Official data
2013        NaN    Official data
2014        NaN    Official data

In [16]:


tables.columns = ['d', 'ac', 'a', 'ec', 'e', 'ic', 'i', 'yc', 'year', 'u', 'value', 'f', 'fd']
tables

value = tables.value
value


value.index


def plot_estimates(tables):
    value = tables.value / 1e6
    plot(values, '--', color='green', label='FAO Stats')
    
    decorate(xlabel='Year',
             ylabel='Number of Registered Hives (in Millions)')
    
    newfig()
plot_estimates(tables)

,d,ac,a,ec,e,ic,i,yc,year,u,value,f,fd
Year Code,,,,,,,,,,,,,
1961,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1961,No,5514000,NaN,Official data
1962,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1962,No,5506000,NaN,Official data
1963,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1963,No,5528000,NaN,Official data
1964,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1964,No,5601000,NaN,Official data
1965,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1965,No,4718000,NaN,Official data
1966,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1966,No,4646000,NaN,Official data
1967,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1967,No,4635000,NaN,Official data
1968,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1968,No,4539000,NaN,Official data
1969,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1969,No,4433000,NaN,Official data
1970,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1970,No,4634000,NaN,Official data
1971,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1971,No,4107000,NaN,Official data
1972,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1972,No,4085000,NaN,Official data
1973,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1973,No,4124000,NaN,Official data
1974,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1974,No,4210000,NaN,Official data
1975,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1975,No,4206000,NaN,Official data
1976,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1976,No,4269000,NaN,Official data
1977,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1977,No,4323000,NaN,Official data
1978,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1978,No,4090000,NaN,Official data
1979,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1979,No,4163000,NaN,Official data
1980,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1980,No,4141000,NaN,Official data
1981,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1981,No,4213000,NaN,Official data
1982,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1982,No,4250000,NaN,Official data
1983,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1983,No,4275000,NaN,Official data
1984,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1984,No,4300000,NaN,Official data
1985,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1985,No,4325000,NaN,Official data
1986,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1986,No,3205000,NaN,Official data
1987,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1987,No,3190000,NaN,Official data
1988,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1988,No,3219000,NaN,Official data
1989,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1989,No,3443000,NaN,Official data
1990,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1990,No,3210000,NaN,Official data
1991,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1991,No,3181000,NaN,Official data
1992,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1992,No,3030000,NaN,Official data
1993,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1993,No,2880000,NaN,Official data
1994,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1994,No,2770000,NaN,Official data
1995,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1995,No,2648000,NaN,Official data
1996,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1996,No,2566000,NaN,Official data
1997,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1997,No,2631000,NaN,Official data
1998,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1998,No,2633000,NaN,Official data
1999,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,1999,No,2688000,NaN,Official data
2000,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,2000,No,2620000,NaN,Official data
2001,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,2001,No,2513000,NaN,Official data
2002,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,2002,No,2574000,NaN,Official data
2003,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,2003,No,2590000,NaN,Official data
2004,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,2004,No,2556000,NaN,Official data
2005,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,2005,No,2413000,NaN,Official data
2006,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,2006,No,2392000,NaN,Official data
2007,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,2007,No,2301000,NaN,Official data
2008,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,2008,No,2342000,NaN,Official data
2009,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,2009,No,2498000,NaN,Official data
2010,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,2010,No,2692000,NaN,Official data
2011,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,2011,No,2491000,NaN,Official data
2012,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,2012,No,2539000,NaN,Official data
2013,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,2013,No,2640000,NaN,Official data
2014,QA,Live Animals,231,United States of America,5114,Stocks,1181,Beehives,2014,No,2740000,NaN,Official data

In [18]:
value = tables.value
value


value.index


def plot_estimates(tables):
    value = tables.value / 1e6
    plot(values, '--', color='green', label='FAO Stats')
    
    decorate(xlabel='Year',
             ylabel='Number of Registered Hives (in Millions)')
    
    newfig()
plot_estimates(tables)

Year Code
1961    5514000
1962    5506000
1963    5528000
1964    5601000
1965    4718000
1966    4646000
1967    4635000
1968    4539000
1969    4433000
1970    4634000
1971    4107000
1972    4085000
1973    4124000
1974    4210000
1975    4206000
1976    4269000
1977    4323000
1978    4090000
1979    4163000
1980    4141000
1981    4213000
1982    4250000
1983    4275000
1984    4300000
1985    4325000
1986    3205000
1987    3190000
1988    3219000
1989    3443000
1990    3210000
1991    3181000
1992    3030000
1993    2880000
1994    2770000
1995    2648000
1996    2566000
1997    2631000
1998    2633000
1999    2688000
2000    2620000
2001    2513000
2002    2574000
2003    2590000
2004    2556000
2005    2413000
2006    2392000
2007    2301000
2008    2342000
2009    2498000
2010    2692000
2011    2491000
2012    2539000
2013    2640000
2014    2740000
Name: value, dtype: int64

In [19]:
value.values

array([5514000, 5506000, 5528000, 5601000, 4718000, 4646000, 4635000,
       4539000, 4433000, 4634000, 4107000, 4085000, 4124000, 4210000,
       4206000, 4269000, 4323000, 4090000, 4163000, 4141000, 4213000,
       4250000, 4275000, 4300000, 4325000, 3205000, 3190000, 3219000,
       3443000, 3210000, 3181000, 3030000, 2880000, 2770000, 2648000,
       2566000, 2631000, 2633000, 2688000, 2620000, 2513000, 2574000,
       2590000, 2556000, 2413000, 2392000, 2301000, 2342000, 2498000,
       2692000, 2491000, 2539000, 2640000, 2740000], dtype=int64)

In [20]:
value.index


def plot_estimates(tables):
    value = tables.value / 1e6
    plot(values, '--', color='green', label='FAO Stats')
    
    decorate(xlabel='Year',
             ylabel='Number of Registered Hives (in Millions)')
    
    newfig()
plot_estimates(tables)

Int64Index([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
            1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
            1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
            1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
            2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014],
           dtype='int64', name='Year Code')

In [21]:
def plot_estimates(tables):
    value = tables.value / 1e6
    plot(values, '--', color='green', label='FAO Stats')
    
    decorate(xlabel='Year',
             ylabel='Number of Registered Hives (in Millions)')
    
    newfig()
plot_estimates(tables)

In [22]:
newfig()
plot_estimates(tables)

NameError: name 'newfig' is not defined